/*!---Navbar section    */
.navbar {
  background-color: #ffffff;
  width: 100%;
  padding: 0 5%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  >.navbar__logo {
    font-weight: 700;
    font-size: 36px;
  }

  >.navbar__tool__items {
    display: flex;
    gap: 30px;
  }

  >.navbar__btn__container {
    display: flex;
    gap: 10px;

    >.navbar__btn {
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 500;
      border-radius: 12px;
      transition: all 0.3s ease-in;
    }

    >.login-btn {
      border: 1px solid #000000;
      color: #000000;
      background-color: #ffffff;

    }

    >.login-btn:hover {
      color: #ffffff;
      background-color: #000000;
    }

    >.register-btn {
      border: 1px solid #000000;
      color: #ffffff;
      background-color: #000000;

    }

    >.register-btn:hover {

      color: #000000;
      background-color: #ffffff;
    }


  }
}

/*!---Header section    */
.header {
  width: 100%;

  position: relative;

  >.header__img {
    >img {
      background-size: cover;
      object-fit: contain;
      object-position: center;
      background-position: center;

      background-repeat: no-repeat;
      width: 100%;
      z-index: -1;
    }
  }

  >.header__info {
    position: absolute;
    top: 40%;
    left: 5%;

    >.header__title {

      color: #ffffff;
      font-size: 48px;
      font-weight: 700;
      line-height: 54px;
      letter-spacing: 0%;
    }

    >.header__paragraph {
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      width: 70%;
    }
  }

}

/*!---?Category section  */
.category {
  >.category__title {
    margin-top: 120px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  >.category__info {
    margin: 20px auto 40px;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0%;
  }

  >.category__btn__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    gap: 20px;

    >.category__btn {
      width: 160px;
      height: 100px;
      text-align: center;
      border: 1px solid #000000;
      border-radius: 12px;
      box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.05);
      background: #fafafa;
      transition: all 0.2s ease-in;
    }

    >.category__btn:focus {
      background-color: #b3b3b3;
    }

    >.category__btn:hover {
      background-color: #cac9c9;
    }
  }
}

/*!---?Exam section      */
.exam {
  >.exam__title {
    margin-top: 120px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  >.exam__info {
    margin: 20px auto 40px;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0%;
  }

  >.exam__container {
    display: flex;
    gap: 40px;

    >.exam__filt {
      border-radius: 12px;
      background-color: #FAFAFA;
      width: 30%;
      padding: 30px;

      >.exam__filt__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
      }

      >.exam__filt__info {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        margin: 28px auto 20px;
      }

      .exam__filt__btn__container {
        display: flex;
        flex-direction: column;
        gap: 12px;

        >.exam__filt__btn {
          border-radius: 12px;
          border: none;
          outline: none;
          padding: 15px 10px;
          text-align: left;
          background: #f5f5f5;
          font-weight: 400;
          line-height: 24px;
          transition: all 0.3s ease-in;
        }

        >.exam__filt__btn:hover {
          background-color: #000000;
          color: #f5f5f5;
        }
      }

    }

    >.exam__boxs__container {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      >.exam__box {
        border-radius: 12px;
        background-color: #FAFAFA;
        padding: 30px;

        >.exam__box__title {
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0%;
          text-align: left;
        }

        >.exam__box__comment {
          margin-top: 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        >.exam__box__question {
          margin: 20px auto 10px;

        }

        >ul li {
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;
          list-style: unset;
          margin-left: 20px;
        }

        >.exam__box__arrow {
          border: 1px solid rgb(217, 217, 217);
          width: 90%;
          height: 1px;
        }

        >.exam__box__teg__container {
          display: flex;
          gap: 12px;
          justify-content: start;
          margin: 20px auto 30px;

          >.exam__box__teg {
            padding: 4px 16px 4px 16px;
            font-size: 14px;
            border-radius: 12px;
            background: rgb(217, 217, 217);
          }
        }

        >.exam__box__btn {
          padding: 10px 20px;
          box-sizing: border-box;
          border: 1px solid #000000;
          border-radius: 12px;
          background-color: #ffffff;
        }

        >.exam__box__btn:hover {
          background-color: #000000;
          color: #ffffff;
          transition: all 0.3s ease-in;
        }



      }



    }
  }




}

/*!---?Footer section      */
.footer {
  >.footer__top {
    background-color: #ffffff;
    width: 100%;
    padding: 0 5%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    >.footer__logo {
      font-weight: 700;
      font-size: 36px;
    }

    >.footer__tool__items {
      display: flex;
      gap: 30px;

      >li:last-child a {
        padding: 8px 12px;
        border-radius: 8px;
        background: rgb(217, 217, 217);
      }
    }
  }

  >.footer__main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    >.footer__contact {
      gap: 10px;
      display: flex;
      justify-content: left;
      align-items: center;

      >h2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }
    >.footer__social{
      display: flex;
      justify-content: end;
      gap: 20px;
    }
    >.footer__arrow{
      height: 1px;
      border: 1px solid #d9d9d9;
    }
  }
  >.footer__bottom{
    margin: 20px auto;
  }
}